lightning==2.3.0
matplotlib==3.8.2
nltk==3.8.1
numpy==2.0.0
openai==1.35.4
openpyxl==3.1.4
protobuf==5.27.2
python-dotenv==1.0.1
Requests==2.32.3
safetensors==0.4.1
scikit_learn==1.4.0
scipy==1.11.1
sentence_transformers==2.3.1
sentencepiece==0.1.99
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
stanza==1.7.0
tiktoken==0.5.2
tokenizers==0.15.0
torch==1.13.1
torchmetrics==0.11.1
torchvision==0.14.1
tqdm==4.66.1
transformers==4.29.2

google-ai-generativelanguage==0.4.0
google-api-core==2.15.0
google-auth==2.25.2
google-generativeai==0.3.2
googleapis-common-protos==1.62.0
grpcio==1.60.0
grpcio-status==1.60.0
h11==0.14.0
httpcore==1.0.2
httpx==0.27.0
huggingface-hub==0.20.1